# Compiled python files
*.py[oc]

# Compiled dirs
__pycache__/

# VSCode workspace identity file
*.code-workspace

# VSCode settings folder
*.vscode

# Virtual env
.venv/

# Pytest cache
.pytest_cache