*{
    font-size: 17px;
    font-family: Consolas;
}

ToolButton{
    background: dimgray;
}
ToolButton::hover{
    background: gray;
}
ToolButton::checked{
    background: steelblue;
}
StatusBarWidget{
    background: none;
}
StatusBarWidget::hover{
    background:none;
}
IntSlider{
    min-width: 400
}
DeviceSettingDialog{
    min-width:400
}
